<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-800 p-5">
        <h1 class="text-white text-2xl py-5">Create User</h1>
        <form action="/create" method="post">
            <input class="bg-zinc-800 border-2 outline-none border-zinc-700 rounded-md m-1 px-2 py-1 text-white" type="text" placeholder="username" name="username">
            <input class="bg-zinc-800 border-2 outline-none border-zinc-700 rounded-md m-1 px-2 py-1 text-white" type="email" placeholder="email" name="email">
            <input class="bg-zinc-800 border-2 outline-none border-zinc-700 rounded-md m-1 px-2 py-1 text-white" type="password" placeholder="password" name="password">
            <input class="bg-zinc-800 border-2 outline-none border-zinc-700 rounded-md m-1 px-2 py-1 text-white" type="number" placeholder="age" name="age">
            <input class="bg-blue-700 text-white px-2 py-1 rounded-md" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>