/* grid mei hum kisi bhi element ko khi bhi place kar skte hai */
.container {
    border: 2px solid black;
    display: grid;
    grid-template-columns: [pahela] 120px [doosra] 100px [t];
    /*agr hum row ya column mei se koi ek chij set kr de to dusri automatically set ho jati hai*/
    grid-template-rows: 100px 100px 100px;
}

.item {
    border: 2px solid red;
    height: 55px;
    width: 55px;
}

.item-1 {
    /*we can also use name isntead of numbers for rows and column example is above*/
    /* grid-row: 1/2; */
    /*instead of this we can also use*/
    grid-row-start: 1;
    grid-row-end: 2;
    /*row of div 1 will start from row number 1 and end at row number 2*/
    grid-column: 1/2;
    /*column of div 1 will start from column number 1 and end at column number 2*/
}

.item-4 {
    grid-row: 1/2;
    /*row of div 4 will start from row number 1 and end at row number 2*/
    grid-column: pahela/t;
    /*column of div 4 will start from column number 1 and end at column number 2*/
}

/* when css will be applied at item-1 and item-4 both the div blocks will be overlapped */