.container{
    background-color: aquamarine;
    width: 60vw;
    height: 70vh;
}
.box{
    background-color: tomato;
    width: 50px;
    height: 40px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: Animation1 3s ease-in-out 2s 1,
                Animation2 4s ease-in-out 2s 1;

}
@keyframes Animation1 {
    from{
        background-color: blue;
    }
    to{
        transform: translateX(80vw);
        background-color: chartreuse;
    }
}
@keyframes Animation2 {
    0%{
        transform: rotate(100deg);
    }
    20%{
        transform: rotate(200deg);
    }
    50%{
        transform: rotate(220deg);
    }
    80%{
        transform: rotate(2700deg);
    }
    100%{
        transform: rotate(3200deg);
    }
}