.box {
    border: 2px solid red;
    margin: 1px;
    padding: 1px;
}

.box:nth-child(3) {
    background-color: aqua;
    clear: both;
    /* It will not allow any element to float on its right and also we can apply this effect for left and both side also*/
}

.boxes {
    border: 2px solid black;
    display: flow-root; /*Will protect the overflow of the text from the div block*/
}

img {
    float: right;
}